#chat-form,
.chat-form {
	position: relative;
}

.rpgm-app {
	animation: enter 200ms cubic-bezier(0, .3, .5, 1) forwards !important;
	transform-origin: center;
}

.rpgm-app.closing {
	animation: exit 200ms cubic-bezier(0, .3, .5, 1) forwards !important;
}

.rpgm-app p.notes {
	flex: 1 1 100% !important;
}

.rpgm-button {
	margin-top: 2px;
	transition: background 150ms ease;
	box-shadow: none !important;
	position: relative;
	width: 100%;
}

.rpgm-button:hover {
	background-color: rgba(200, 0, 255);
}

.rpgm-button:active {
	background-color: #6633cc;
}

.rpgm-icons {
	filter: blur(4px);
	opacity: 0;
	transition: opacity 150ms ease, filter 150ms ease;
	position: absolute;
	pointer-events: none;
}

.rpgm-icons a {
	padding: 4px;
	pointer-events: all;
}

.rpgm-icons a:hover {
	text-shadow: 0 0 8px #6633cc;
}

.rpgm-app-inner {
	min-height: 400px;
	max-height: 500px;
	max-width: 600px;
	position: relative;

	.scrollable {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	footer {
		flex-grow: 0;
	}

	.anchor-bottom {
		margin-top: auto;
	}

	::placeholder {
		text-align: center;
	}
}

@keyframes enter {
	from {
		scale: 1.025;
	}

	to {
		scale: 1;
	}
}

@keyframes exit {
	from {
		scale: 1;
	}

	to {
		scale: 1.025;
		opacity: 0;
	}
}

.rpgm-active {
	box-shadow: #6633cc 0 0 4px;
	background-image:
		radial-gradient(circle, rgba(255, 0, 200, 0.5), transparent 70%),
		radial-gradient(circle, rgba(200, 0, 200, 0.5), transparent 70%),
		radial-gradient(circle, rgba(200, 0, 255, 0.5), transparent 70%),
		radial-gradient(circle, #6633cc, transparent 70%) !important;
	background-size: 250% 250% !important;
	position: relative;
	animation: moveBackground 4s ease infinite !important;
}

/* Prevent clipping on foundry AppV2 pages */
.application {
	overflow: visible !important;
}

@keyframes moveBackground {

	0%,
	100% {
		background-position: 0% 0%, 0% 100%, 100% 100%, 100% 0%;
	}

	25% {
		background-position: 0% 100%, 100% 100%, 100% 0%, 0% 0%;
	}

	50% {
		background-position: 100% 100%, 100% 0%, 0% 0%, 0% 100%;
	}

	75% {
		background-position: 100% 0%, 0% 0%, 0% 100%, 100% 100%;
	}
}
