#chat-form,
.chat-form {
	position: relative;
}

div#sidebar:has([data-tab="rpgm"]) {
	width: calc(var(--sidebar-width) + 25px);
}

.rpgm-app {
	overflow: visible;
	transform-origin: center;

	h2 {
		font-size: 20px;
		margin: 0 0 4px 0;
	}

	h3 {
		font-size: 15px;
		border-bottom: solid 1px black;
		margin: 4px 0 0 0;
	}
}

.rpgm-open:not(.rpgm-close),
.rpgm-app:not(.static) {
	animation: enter 200ms cubic-bezier(0, .3, .5, 1) forwards !important;
}

.rpgm-close,
.rpgm-app.closing {
	animation: exit 200ms cubic-bezier(0, .3, .5, 1) forwards !important;
}

.rpgm-app p.notes {
	flex: 1 1 100% !important;
}

.rpgm-help {
	code {
		background: #aaa;
		border-radius: 3px;
		padding: 1px 2px;
	}
}

.rpgm-button {
	margin-top: 2px;
	transition: background 150ms ease;
	box-shadow: none !important;
	position: relative;
	width: 100%;
}

.rpgm-button:hover {
	background-color: rgba(200, 0, 255);
}

.rpgm-button:active {
	background-color: #6633cc;
}

.rpgm-textarea {
	resize: none;
	width: 100%;
}

.rpgm-input {
	width: 100%;
	padding: 4px;
	border-radius: 3px;
	border: solid 1px #00000033 !important;
	outline: none;
}

.rpgm-button:focus,
.rpgm-checkbox:focus,
.rpgm-textarea:focus,
.rpgm-input:focus {
	box-shadow: 0 0 5px #6633cc !important;
}

.rp-dice::before {
	position: relative;
	width: 1em;
	height: 1em;
	scale: 1.1;
	display: inline-block;
	background: no-repeat center/contain;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: transparent;
	line-height: 1em;
	content: "█";
	mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg version='1.1' id='svg1' width='860' height='860' viewBox='0 0 860 860' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cpath id='path26' style='display:inline;fill:%23000000;fill-opacity:1;stroke:none;stroke-width:32.6924;stroke-dasharray:none;stroke-opacity:1' d='m 425.51562,22.273435 c -7.43918,-0.0466 -11.92729,1.86241 -31.30859,13.31836 -9.67487,5.71866 -41.63952,24.18246 -71.03125,41.0293 C 250.6837,118.17229 117.23098,195.675 79.48438,218.14454 69.329,224.18974 67.03403,226.45427 63.35156,234.07422 l -2.55859,5.29688 v 190.64844 190.64842 l 2.60742,5.3086 c 1.43374,2.91932 4.03361,6.65008 5.77734,8.29101 1.74372,1.64093 12.4851,8.39843 23.8711,15.01758 11.38599,6.61916 53.63272,31.22595 93.88086,54.67969 40.24814,23.45374 92.89234,54.124 116.98828,68.15625 24.09592,14.03226 58.29318,33.96717 75.99414,44.30078 17.70096,10.33363 33.95106,19.34174 36.10937,20.01758 5.19867,1.62745 11.7887,1.65274 17.00977,0.0664 2.33487,-0.70934 22.44317,-11.90998 44.68555,-24.89256 22.2424,-12.98257 76.40416,-44.53887 120.35937,-70.125 147.3517,-85.7728 180.04048,-105.06079 183.20313,-108.09767 1.72962,-1.66085 4.22164,-5.17862 5.53711,-7.81835 l 2.39062,-4.80079 V 429.05664 237.34179 l -2.39062,-4.80077 c -1.31547,-2.63975 -3.80749,-6.13002 -5.53711,-7.75782 -1.7297,-1.62779 -17.01044,-10.96956 -33.95703,-20.75977 -16.94659,-9.79018 -56.37583,-32.64125 -87.6211,-50.77929 -31.24526,-18.13803 -60.0594,-34.84108 -64.03125,-37.11719 C 566.73579,99.546045 484.85659,52.063775 464.71875,40.187495 438.325,24.621805 433.29215,22.322135 425.51562,22.273435 Z m -5.89648,114.378915 c 7.83428,-0.12786 15.74727,0.4013 22.06836,1.61523 54.11992,10.39339 102.12408,61.20132 112.2168,118.76952 4.97941,28.40227 0.90961,62.39274 -10.79297,90.14063 -7.67367,18.19498 -12.26418,24.31604 -38.23242,50.98437 -25.97255,26.67277 -31.31541,33.43403 -38.86133,49.16017 -6.58894,13.73172 -8.50247,25.67754 -7.73047,48.27148 0.70812,20.72401 3.00705,30.89482 10.27539,45.46094 21.72874,43.54539 67.8832,69.36416 113.19531,63.32227 12.92907,-1.72396 26.99424,-6.06157 37.75977,-11.64453 10.71421,-5.55633 26.80382,-21.30125 32.62304,-31.92383 19.17962,-35.01116 9.8704,-78.53278 -21.19531,-99.09375 -9.93426,-6.57497 -16.11799,-8.65851 -28.57617,-9.62891 -17.86676,-1.39166 -31.90559,2.87453 -43.36523,13.17774 -11.30019,10.15983 -15.05924,27.16661 -8.21289,37.15819 6.17051,9.00527 14.03939,10.19949 24.66601,3.74415 8.81534,-5.35504 12.81669,-6.09339 19.39258,-3.58204 5.5992,2.13834 9.46422,6.50362 11.23828,12.68945 2.79881,9.75887 -7.64947,25.93791 -20.33008,31.48242 -9.20101,4.0231 -23.74457,4.52863 -33.80664,1.17383 -19.67959,-6.56134 -36.53014,-24.91581 -41.03906,-44.69922 -3.11215,-13.65486 -0.22424,-32.02182 7.29492,-46.40625 4.78756,-9.15878 20.95288,-25.48686 33.00391,-33.33592 19.86867,-12.94082 47.54133,-16.80651 73.60351,-10.28321 28.763,7.19927 60.25731,35.94157 71.59375,65.33788 5.87123,15.22479 7.48312,26.15627 6.82032,46.29297 -0.79729,24.21969 -5.71659,41.50994 -17.51954,61.59571 -4.86155,8.27323 -25.10521,28.84766 -34.20312,34.76171 -15.60501,10.1439 -33.30912,17.38248 -52.55078,21.48438 -14.01591,2.98789 -44.84832,2.95197 -58.75391,-0.0684 -48.19457,-10.46785 -89.26908,-42.68471 -109.29492,-85.72656 -4.63708,-9.96652 -7.53254,-18.00178 -14.64258,-40.60938 -8.52403,-27.10369 -17.54826,-42.79632 -34.1582,-59.40625 -16.49656,-16.49657 -34.4919,-27.03492 -56.93945,-33.34179 -10.32901,-2.90205 -12.7437,-3.12556 -32.31446,-3.00391 -24.38896,0.15159 -32.7806,1.82532 -49.11328,9.80469 -24.28355,11.86376 -42.348,32.84506 -51.28516,59.56445 -3.46293,10.35317 -3.5952,11.50103 -3.58007,31.14062 0.0149,19.41422 0.1788,20.85431 3.40234,30.11524 4.78072,13.73465 9.86592,21.76158 20.67188,32.63086 9.94662,10.00492 20.0905,16.24001 32.23242,19.80859 8.32199,2.44588 28.89725,2.49313 38.31836,0.0879 18.25578,-4.66072 34.02143,-17.06381 41.75976,-32.85156 3.76307,-7.67742 4.01953,-8.95265 4.01953,-19.97656 0,-10.26733 -0.39576,-12.62077 -3.0957,-18.37891 -6.67788,-14.24193 -17.89443,-22.18555 -31.32812,-22.18555 -7.04157,0 -7.79004,0.26661 -11.66211,4.13868 l -4.13868,4.13672 0.57227,10.84375 c 0.48417,9.18897 0.23395,11.40905 -1.63867,14.53906 -6.07254,10.14994 -22.77568,9.49551 -30.94336,-1.21289 -21.96305,-28.79503 16.57529,-73.89911 59.31641,-69.42188 28.37151,2.97199 54.135,26.00386 61.73242,55.18946 2.71324,10.42298 3.47213,26.05659 1.77929,36.66601 -3.10749,19.47528 -15.13754,41.68885 -29.88867,55.19141 -21.35385,19.54637 -61.0741,30.77476 -92.52539,26.15429 -20.65686,-3.03468 -50.79508,-18.76878 -64.61914,-33.73437 -8.00297,-8.6638 -17.35177,-22.19419 -22.57422,-32.66797 -5.11279,-10.25387 -10.92332,-28.39786 -12.6582,-39.52734 -1.99762,-12.81503 -0.76103,-41.56982 2.29101,-53.27344 11.44115,-43.8731 36.04433,-74.7445 74.80079,-93.85544 21.46969,-10.58676 40.11501,-14.77344 65.80273,-14.77344 17.84787,0 29.14432,1.71594 54.05469,8.20508 22.02336,5.73707 33.3696,7.85341 47.58984,8.87891 33.93986,2.44758 67.62038,-10.30384 90.55078,-34.28321 12.82702,-13.41381 20.84817,-27.26134 26.59571,-45.91406 2.95904,-9.60305 3.18164,-11.80982 3.18164,-31.47851 0,-19.72849 -0.21709,-21.85433 -3.22071,-31.60938 -9.97843,-32.40764 -27.34319,-53.84466 -52.90625,-65.31055 -11.3942,-5.11069 -18.79349,-6.478 -34.82617,-6.4414 -16.90339,0.0386 -24.15786,1.98128 -38.12891,10.21484 -22.34599,13.16917 -33.06271,31.94912 -34.4121,60.29883 -0.91648,19.25461 2.83177,30.55362 14.08398,42.45117 8.06874,8.53151 16.29333,12.39668 27.79492,13.0625 11.00597,0.63712 19.0299,-2.28384 25.2793,-9.20117 8.03108,-8.88945 6.61139,-19.6494 -3.53711,-26.80273 -9.23932,-6.51247 -12.49895,-18.26703 -7.23242,-26.08204 10.42756,-15.47346 35.12692,-9.64515 47.32422,11.16797 7.00367,11.95086 8.16996,30.93141 2.84375,46.29883 -3.47984,10.0402 -12.74436,23.60241 -20.2461,29.63672 -21.7473,17.49329 -54.58649,19.9758 -81.09961,6.13086 -10.85669,-5.66928 -26.77547,-21.19946 -33.47851,-32.66211 -14.7162,-25.16569 -17.56679,-62.26167 -7.00977,-91.20898 6.11639,-16.77112 23.33284,-41.08878 36.72852,-51.87696 9.81843,-7.90725 35.14707,-20.23785 47.58984,-23.16797 6.00947,-1.41514 13.76533,-2.20028 21.59961,-2.32811 z' /%3E%3C/svg%3E%0A");
}

.rpgm-icons {
	filter: blur(4px);
	opacity: 0;
	transition: opacity 150ms ease, filter 150ms ease;
	position: absolute;
	pointer-events: none;
	color: var(--color-dark-4);
}

.rpgm-icons a {
	padding: 4px;
	pointer-events: all;
	transition-property: opacity, text-shadow;
	transition-duration: 150ms;
}

.rpgm-icons a:focus,
.rpgm-icons a:hover {
	text-shadow: 0 0 8px #6633cc !important;
}

.rpgm-app-inner {
	min-height: 400px;
	max-height: 500px;
	max-width: 600px;
	position: relative;

	.scrollable {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	footer {
		flex-grow: 0;
	}

	.anchor-bottom {
		margin-top: auto;
	}

	::placeholder {
		text-align: center;
	}
}

@keyframes enter {
	from {
		scale: 1.025;
	}

	to {
		scale: 1;
	}
}

@keyframes exit {
	from {
		scale: 1;
	}

	to {
		scale: 1.025;
		opacity: 0;
	}
}

.rpgm-active {
	box-shadow: #6633cc 0 0 4px;
	background-image:
		radial-gradient(circle, rgba(255, 0, 200, 0.5), transparent 70%),
		radial-gradient(circle, rgba(200, 0, 200, 0.5), transparent 70%),
		radial-gradient(circle, rgba(200, 0, 255, 0.5), transparent 70%),
		radial-gradient(circle, #6633cc, transparent 70%) !important;
	background-size: 250% 250% !important;
	position: relative;
	cursor: wait;
	animation: moveBackground 4s ease infinite !important;
}

/* Prevent clipping on foundry AppV2 pages */
/* .application { */
/* 	overflow: visible !important; */
/* } */

@keyframes moveBackground {

	0%,
	100% {
		background-position: 0% 0%, 0% 100%, 100% 100%, 100% 0%;
	}

	25% {
		background-position: 0% 100%, 100% 100%, 100% 0%, 0% 0%;
	}

	50% {
		background-position: 100% 100%, 100% 0%, 0% 0%, 0% 100%;
	}

	75% {
		background-position: 100% 0%, 0% 0%, 0% 100%, 100% 100%;
	}
}
