.n-button {
	transition-property: color, background-color, opacity, border-color, border-radius;
}

.rpgm-app {
	font-family: "Signika", sans-serif !important;
}

.n-result {
	padding-top: 1rem;
}

.n-button--success-type,
.n-button--warning-type,
.n-button--error-type,
.n-button--info-type,
.n-button--primary-type {
	&:not(.n-button--ghost):not(.n-button--secondary) {
		background-color: oklch(from var(--n-color) calc(l * 0.65) c h) !important;
	}

	/* background-color: rgb(from var(--n-color) r g b / 0.3) !important; */
	/* --n-color: rgb(from var(--n-color-hover) r g b / 0.3) !important; */
}

.n-list .n-list-item {
	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.n-tabs .n-tabs-rail {
	overflow: hidden !important;
}

.n-tabs .n-tabs-rail .n-tabs-capsule {
	transition: background-color 0.3s var(--n-bezier), transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

.n-tabs .n-tabs-pane-wrapper {
	will-change: max-height !important;
}

.rpgm-app .window-content {
	overflow: hidden !important;
}

.notification.rpgm {
	&.info {
		border: 1px solid #3a73ff;
		background: #205cffcc;
	}

	&.warning {
		border: 1px solid #938002;
		background: #827201cc;
	}

	&.error {
		border: 1px solid #e5027f;
		background: #cc0171cc;
	}
}
