@keyframes enter {
	from {
		scale: 1.025;
	}

	to {
		scale: 1;
	}
}

@keyframes exit {
	from {
		scale: 1;
	}

	to {
		scale: 1.025;
		opacity: 0;
	}
}

@keyframes rpgmLoading {
	0% {
		background-position: left center;
	}

	50% {
		background-position: right center;
	}

	100% {
		background-position: left center;
	}
}

@keyframes moveBackground {

	0%,
	100% {
		background-position: 0% 0%, 0% 100%, 100% 100%, 100% 0%;
	}

	25% {
		background-position: 0% 100%, 100% 100%, 100% 0%, 0% 0%;
	}

	50% {
		background-position: 100% 100%, 100% 0%, 0% 0%, 0% 100%;
	}

	75% {
		background-position: 100% 0%, 0% 0%, 0% 100%, 100% 100%;
	}
}

/* stagger */

.rpgm-stagger-move,
.rpgm-stagger-leave-active,
.rpgm-stagger-enter-active {
	transition: all 0.4s ease-out;
}

.rpgm-stagger-leave-active {
	position: absolute;
	width: 100%;
}

.rpgm-stagger-enter-from,
.rpgm-stagger-leave-to {
	opacity: 0;
	transform: translateX(40px);
}

.rpgm-stagger-enter-to,
.rpgm-stagger-leave-from {
	opacity: 1;
	transform: translateX(0);
}

.rpgm-stagger-alternate-move,
.rpgm-stagger-alternate-leave-active,
.rpgm-stagger-alternate-enter-active {
	transition: all 0.4s ease-out;
}

.rpgm-stagger-alternate-leave-active {
	position: absolute;
	width: 100%;
}

.rpgm-stagger-alternate-enter-from:nth-child(odd),
.rpgm-stagger-alternate-leave-to:nth-child(odd) {
	opacity: 0;
	transform: translateX(40px);
}

.rpgm-stagger-alternate-enter-from:nth-child(even),
.rpgm-stagger-alternate-leave-to:nth-child(even) {
	opacity: 0;
	transform: translateX(-40px);
}

.rpgm-stagger-alternate-enter-to,
.rpgm-stagger-alternate-leave-from {
	opacity: 1;
	transform: translateX(0);
}

/* fade */

.rpgm-fade-move,
.rpgm-fade-leave-active,
.rpgm-fade-enter-active {
	transition: opacity 0.2s ease-out, scale 0.2s ease-out;
}

.rpgm-fade-leave-active {
	position: absolute;
	width: 100%;
}

.rpgm-fade-enter-from,
.rpgm-fade-leave-to {
	opacity: 0;
}

/* zoom */

.rpgm-zoom-move,
.rpgm-zoom-leave-active,
.rpgm-zoom-enter-active {
	transition: opacity 0.2s ease-out, scale 0.2s ease-out;
}

.rpgm-zoom-leave-active {
	position: absolute;
	width: 100%;
}

.rpgm-zoom-enter-from,
.rpgm-zoom-leave-to {
	opacity: 0;
	scale: 0.95;
}

/* jiggle */

.rpgm-jiggle-leave-active,
.rpgm-jiggle-enter-active {
	transition: all 0.2s ease-out;
	transform-origin: bottom center;
	animation: rpgm-jiggle 0.3s ease-in-out;
}

.rpgm-jiggle-leave-active {
	position: absolute;
	width: 100%;
}

.rpgm-jiggle-enter-from,
.rpgm-jiggle-leave-to {
	opacity: 0;
}

@keyframes rpgm-jiggle {
	0% {
		rotate: 0deg;
	}

	25% {
		rotate: -4deg;
	}

	50% {
		rotate: 3deg;
	}

	75% {
		rotate: -2deg;
	}

	100% {
		rotate: 0deg;
	}
}
